<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'PART-1'}]:true"></tdm-markdown-view>

<div fxLayout fxLayoutAlign="center center" fxLayoutWrap="wrap">
  <tdm-markdown-view fxFlex="45%"
                     [code]="(code | async | tdmCode:[{file: 'model.ts', section: 'DEMO-1'}])[0]"></tdm-markdown-view>

  <div fxFlex="10%" class="center-text">
    <mat-icon style="font-size: 48px">compare_arrows</mat-icon>
  </div>
  <div fxFlex="45%">
    <dynamic-form [model]="model"></dynamic-form>
  </div>
</div>

<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'PART-2'}]:true"></tdm-markdown-view>

<form-wrapper title="I'm the dashboard"
              [code]="code | async | tdmCode:[{title: 'Component'}, {title: 'Template'}, {title: 'Style'}, {title: 'Model', section: 'DEMO-2'}]">

  <!--@tdm-example:TDM-DEMO-->
  <dynamic-form [model]="model"></dynamic-form>
  <!--@tdm-example:TDM-DEMO-->
</form-wrapper>

<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'PART-3'}]:true"></tdm-markdown-view>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="led-sample">
      <tdm-led color="green"></tdm-led>
    </div>
    <span>VALID</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="led-sample">
      <tdm-led color="red" blink></tdm-led>
    </div>
    <span>INVALID</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="led-sample">
      <tdm-led color="yellow"></tdm-led>
    </div>
    <span>DISABLED</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="led-sample">
      <tdm-led color="blue" blink></tdm-led>
    </div>
    <span>PENDING</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="led-sample">
      <tdm-led></tdm-led>
    </div>
    <span>NOT SET</span>
  </div>
</div>

<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'PART-4'}]:true"></tdm-markdown-view>
