<tdm-package-welcome title="Http Resource"
                     description="A metadata driven, DAO and Active Record library for angular. Powerful, typed, robust."
                     buttonText="TUTORIAL >>"
                     buttonLink="./tutorial/introduction"
                     name="ngx-http-client"
                     [version]="version" [ngVersion]="ngVersion"
                     [deps]="['tixin', 'core', 'data']">
</tdm-package-welcome>
<div class="tdm-page">
  <div class="tdm-page-content">
    <div>
      <div fxLayout fxLayoutAlign="center center" fxLayoutWrap="wrap">
        <div fxFlex="100%" class="center-text">
          <h1>DOCUMENTATION WIP</h1>
          <div class="tldr-header">
            <p>From a model to xhr HTTP calls using angular's http client.</p>
            <p>HTTP Resource is simple and intuitive, providing a basic not intrusive interface to start with.
              Setup your models for quick CRUD operations in no time and invoke HTTP calls using a Data Access Object.</p>
            <p>HTTP Resource is also highly extensible (via plugins), opt-in for Active Record pattern plugin and/or the
            resource control plugin to enjoy the full power of angular.</p>
          </div>
        </div>
      </div>

      <tdm-markdown-view><h1 class="center-text">Features</h1></tdm-markdown-view>
      <tdm-feature-list [features]="features"></tdm-feature-list>
    </div>
  </div>
</div>
