<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md'}]:true"></tdm-markdown-view>

<form-wrapper title="Event: (renderState)"
              [code]="code | async | tdmCode:[{title: 'Component'}, {title: 'Template'}, {title: 'Style'}, {title: 'Model'}]">
<!--@tdm-example:TDM-DEMO-->
  <div class="render-state-form-container" ngProjectAs="dynamic-form">
    <dynamic-form #dynForm
                  style="display: block"
                  [model]="model"
                  [disabledState]="disabledControls"
                  (valueChanges)="valueChanges($event, dynForm)"></dynamic-form>
    <div class="ui-block" *ngIf="dynForm?.renderState | async">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <!--@tdm-example:TDM-DEMO-->

</form-wrapper>
