

.form-wrapper-content {
  z-index: 1;

  .json-view {
    padding: 15px;
    overflow: auto;
    width: 200px;
  }
}

.form-wrapper-dynamic-form-container {
  margin: 10px;
}

.form-control-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 2;
}

.form-status-indicator {
  width: 24px;
  height: 24px;
  margin: 0 15px;

  .status-indicator {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .form-status-indicator- {
    background-color: #808080;
    box-shadow: rgba(56, 56, 56, 0.2) 0 -1px 7px 1px, inset #535353 0 -1px 9px, #b0b0b0 0 2px 14px;
  }

  .form-status-indicator-VALID {
    background-color: #ABFF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  }

  .form-status-indicator-PENDING {
    background-color: #FF0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
    -webkit-animation: blinkYellow 1s infinite;
    -moz-animation: blinkYellow 1s infinite;
    -ms-animation: blinkYellow 1s infinite;
    -o-animation: blinkYellow 1s infinite;
    animation: blinkYellow 1s infinite;
  }

  .form-status-indicator-INVALID {
    background-color: #F00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
  }

  .form-status-indicator-DISABLED {
    background-color: #24E0FF;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
  }
}

@-webkit-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-o-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}



@-webkit-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
