<div class="tdm-app mat-typography">
  <div class="tdm-navbar mat-elevation-z8">
    <mat-toolbar color="primary">
      <a class="title" [routerLink]=" ['.'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">@TDM</a>
      <a *ngFor="let navItem of topNavService.navItems$ | async"
         class="tdm-top-nav-link" mat-button
         [routerLink]="navItem.routerLink.routerLink" routerLinkActive="active" [routerLinkActiveOptions]= "navItem.routerLinkActiveOptions || {}">
        <img *ngIf="navItem.imgIconSrc" [src]="navItem.imgIconSrc" />
        {{navItem.title}}
      </a>
    </mat-toolbar>
  </div>
  <main>
    <div class="main-view">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
