<ng-container [formGroup]="tdmForm.form" [ngSwitch]="item.type">
  <md-checkbox *ngSwitchCase="'boolean'"
               [formControlName]="item.name">{{ item.label }}</md-checkbox>

  <md-slide-toggle *ngSwitchCase="'slideToggle'"
                   [formControlName]="item.name">{{ item.label }}</md-slide-toggle>


  <ng-container *ngSwitchCase="'slider'">
    <span>{{item.label}}</span>
    <md-slider [formControlName]="item.name"
               thumbLabel="true"
               [tickInterval]="1"
               [min]="item.data?.min" [max]="item.data?.max"></md-slider>
  </ng-container>


  <ng-container *ngSwitchCase="'childForm'">
    <dynamic-form *ngIf="tdmForm.model[item.name]" [model]="tdmForm.model[item.name]"></dynamic-form>
  </ng-container>

  <ng-container *ngSwitchCase="'radio'">
    <span>{{item.label}}</span>
    <md-radio-group *ngSwitchCase="'radio'" [formControlName]="item.name">
      <md-radio-button *ngFor="let sel of item.data.selections" [value]="sel.value">{{sel.label || sel.value}}</md-radio-button>
    </md-radio-group>
  </ng-container>


  <md-select *ngSwitchCase="'select'"
             [formControlName]="item.name"
             [placeholder]="item.label">
    <md-option *ngFor="let sel of item.data.selections" [value]="sel.value">{{sel.label || sel.value}}</md-option>
  </md-select>

  <md-input-container *ngSwitchDefault>
    <input mdInput
           [type]="item.type"
           [formControlName]="item.name"
           [placeholder]="item.label"
           [min]="item.data?.min" [max]="item.data?.max">
    <md-error *ngIf="tdmForm.hasError('required', item.name)">Required</md-error>
  </md-input-container>

</ng-container>
