<div [style.display]="item.hidden ? 'none' : undefined">
  <div fxLayout="row" class="dyn-form-row">
    <div fxFlex="0 1 50%" fxLayoutAlign="end center" class="dyn-form-label" >
      <span *ngIf="item.required">*</span>
      <span>{{item.label}}</span>
    </div>
    <div fxFlex="0 1 50%" class="dyn-form-element-container dyn-form-element-container-{{item.vType}}">
      <material-form-control-renderer *ngIf="!custom"
                                      showLabels="false"
                                      [dynForm]="dynForm"
                                      [tdmForm]="tdmForm"
                                      [fArray]="fArray"
                                      [fControl]="fControl"
                                      [fGroup]="fGroup"
                                      [item]="item"></material-form-control-renderer>
      <ng-content></ng-content>
    </div>
  </div>
</div>
