<div class="page-padding">
  <mat-form-field floatPlaceholder="never">
    <input matInput placeholder="Select a make" [matAutocomplete]="reactiveAuto" [formControl]="makerCtrl">
  </mat-form-field>

  <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let maker of filtered$ | async" [value]="maker">
      <span>{{ maker.makeName }}</span>
    </mat-option>
  </mat-autocomplete>

  <button mat-mini-fab [disabled]="!makerCtrl.value || !makerCtrl.value.makeName" (click)="getModels()">
    <mat-icon class="mat-24">search</mat-icon>
  </button>

  <ul>
    <li *ngFor="let model of models?.$rc.self$ | async">
      {{model.modelName}}
    </li>
  </ul>
</div>
