<form-wrapper title="Event: (beforeRender)" [code]="code">
  <div class="form-description">
    <p>A form control is represented by an instance of <b>RenderInstruction</b>, these instructions are then used to
      render the control, i.e. create a UI representation of it.
      In other words, the render instructions are context for the form control templates.</p>
    <p>Render instructions are created based on the metadata in the model, they are static and so each instance of
      a `DynamicFormComponent` has a unique set of render instructions based on the static instructions.</p>
    <p>The are scenarios where you need to dynamically update the metadata for form control, such might be
      a requirement for different type of control based on a predicate or populating a selection box from a remote source</p>
    <p>The <b>(beforeRender)</b> event is fired on the first render and then whenever the <b>redraw()</b> method is invoked.</p>
    <p>The event provide's access to the <b>RenderInstruction</b>s instance used by the form and it can alter each instance
      to change the way it will render or what data it will render with.</p>
    <p>The event handler can notify that it is async by providing a promise and the rendering can not complete until the
      promise resolves, this is a good place to fetch data from a remote server</p>
    <p></p>
    <p>This example changes the email field rendering type to a slide-toggle.</p>
    <p>In addition it mocks an async call in the address.state field and fetch's a list of all state, you can see this
    list is the complete one. The mock creates 1000ms timeout which in that time the form will not render</p>
    <p>NOTE: You can use the <b>(renderState)</b> event to get notification when a form is ready to render, this is the place
    to add the proper UX like spinners, blockers etc...</p>
  </div>
<!--@tdm-example:TDM-DEMO-->
<dynamic-form (beforeRender)="beforeRender($event)" [model]="model"></dynamic-form>
<!--@tdm-example:TDM-DEMO-->
</form-wrapper>
<div></div>
