<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md'}]:true"></tdm-markdown-view>

<form-wrapper title="Commit"
              [code]="code | async | tdmCode:[{title: 'Component'}, {title: 'Template', section: 'tdmDemo'}, {title: 'Model'}]">
<!--@tdm-example:tdmDemo-->
  <dynamic-form #dynForm [model]="model">
    <button mat-raised-button color="primary"
            [disabled]="dynForm.form.status !== 'VALID' || !dynForm.form.dirty"
            (click)="dynForm.tdmForm.commitToModel(true)">SAVE</button>
    <button mat-button [disabled]="dynForm.form.pristine" (click)="dynForm.tdmForm.reset()">CANCEL</button>
  </dynamic-form>
  <!--@tdm-example:tdmDemo-->
</form-wrapper>
