<mat-drawer-container autosize>
  <mat-drawer mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <h2>Examples</h2>
      </mat-list-item>
      <a mat-list-item *ngFor="let e of examples" (click)="selectedExample = e">{{e.name}}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="page-padding">
    <div [ngSwitch]="selectedExample?.id">
      <temp-example *ngSwitchCase="'tempExample'"></temp-example>
      <form-sections *ngSwitchCase="'sections'"></form-sections>
      <form-override *ngSwitchCase="'override'"></form-override>
      <form-exclude-disable-hidden-state *ngSwitchCase="'disableHiddenState'"></form-exclude-disable-hidden-state>
      <form-hot-bind *ngSwitchCase="'hotBind'"></form-hot-bind>
      <form-before-render-event *ngSwitchCase="'beforeRenderEvent'"></form-before-render-event>
      <form-render-state-event *ngSwitchCase="'renderStateEvent'"></form-render-state-event>
      <form-field-sync-redraw *ngSwitchCase="'fieldSyncRedraw'"></form-field-sync-redraw>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
