@import '~@angular/material/theming';
$primary: mat-palette($mat-indigo);

mat-drawer-container {
  flex: 1;
}

mat-drawer {
  background: mat-color($primary, 200);
  a[mat-list-item] {
    color: #FFFFFF;
  }
}

mat-drawer-content {
  padding: 15px;
}
