<tdm-markdown-view>
  <h2>Let's review what we did up to this point:</h2>
</tdm-markdown-view>
<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <tdm-markdown-view>
          <h3>1. Create a renderer</h3>
        </tdm-markdown-view>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'part1'}]:true"></tdm-markdown-view>
    <tdm-code-view [code]="code4 | async | tdmCode:[{file: 'renderer.component.ts'}, {file: 'renderer.component.html'}]"></tdm-code-view>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <tdm-markdown-view>
          <h3>2. Register the <code>DynamicFormsModule</code> with the renderer in our app root module</h3>
        </tdm-markdown-view>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'part2'}]:true"></tdm-markdown-view>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <tdm-markdown-view>
          <h3>3. Create a model and define how it should render in a form</h3>
        </tdm-markdown-view>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'part3'}]:true"></tdm-markdown-view>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <tdm-markdown-view>
          <h3>4. Create a live form</h3>
        </tdm-markdown-view>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'part4'}]:true"></tdm-markdown-view>
    <form-wrapper style="min-height: 300px"
                  [code]="code4 | async | tdmCode:[{title: 'Component'}, {title: 'Template'}, {title: 'Model'}]">
      <dynamic-form [model]="model"></dynamic-form>
    </form-wrapper>

  </mat-expansion-panel>
</mat-accordion>
