<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'part1'}]:true"></tdm-markdown-view>

<tdm-markdown-view [code]="(code | async | tdmCode:[{file: 'renderer-v2.types.ts'}])[0]"></tdm-markdown-view>
<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'part2'}]:true"></tdm-markdown-view>

<tdm-code-view [code]="code | async | tdmCode:[{file: 'renderer-v2.component.ts'}, {file: 'renderer-v2.types.ts'}, {file: 'renderer-v2.component.html'}, {file: 'renderer-v2.component.scss'}]"></tdm-code-view>

<tdm-markdown-view>
  <h4>Let's see it in action.</h4>
</tdm-markdown-view>
<form-wrapper style="min-height: 300px"
              [code]="code | async | tdmCode:[{title: 'Component'}, {title: 'Template'}, {title: 'Model'}]">
  <!--@tdm-example:tdmDemo-->
  <dynamic-form [model]="model"></dynamic-form>
  <!--@tdm-example:tdmDemo-->
</form-wrapper>

<tdm-markdown-view [markdown]="code | async | tdmCode:[{file: 'README.md', section: 'part3'}]:true"></tdm-markdown-view>
