/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

@include angular-material-theme($theme);

@import './highlightjs'; // load highlight.js styles
@import './markdown'; // load markdown styles

html, body {
  height: 100%;
  margin: 0;
}

.dynamic-control-container {
  margin: 15px 0;
}

.tdm-page-content {
  margin: 0 auto;
  padding: 20px 70px 50px;
  max-width: 940px;
}

.center-text {
  text-align: center !important;
}
