@import '~@angular/material/theming';


/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

@import '~@swimlane/ngx-datatable/src/themes/material.scss';


.main-view {
  margin: 25px;
  padding: 10px;
}
nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.dynamic-control-container {
  margin: 15px 0;
}