<div class="tdm-app mat-typography">
  <div class="tdm-navbar mat-elevation-z8">
    <mat-toolbar color="primary">
      <span class="title">@TDM</span>
      <a class="tdm-top-nav-link" mat-button [routerLink]=" ['.'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Home</a>
      <a class="tdm-top-nav-link" mat-button [routerLink]=" ['./forms'] " routerLinkActive="active">
          <img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" />
          Dynamic Forms
      </a>
      <a class="tdm-top-nav-link" mat-button [routerLink]=" ['./ngx-http'] " routerLinkActive="active">
        <img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" />
        HTTP Resource
      </a>
    </mat-toolbar>
  </div>
  <main>
    <div class="main-view">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
