<div class="tdm-app mat-typography">
  <div class="tdm-navbar mat-elevation-z8">
    <mat-toolbar color="primary">
      <span class="title">@TDM</span>
      <a mat-button [routerLink]=" ['.'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Home</a>
      <a mat-button [routerLink]=" ['./forms'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Dynamic Forms</a>
      <a mat-button [routerLink]=" ['./ngx-http'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">HTTP Resource</a>
    </mat-toolbar>
  </div>
  <main>
    <div class="main-view">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
