@import 'apps/demo/src/styles/variables';

.package-feature-list {
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;

    &.mat-expanded {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  }

  mat-panel-title {
    line-height: 48px;
    height: 48px;
    color: mat-color($theme-foreground, secondary-text);

    mat-icon {
      line-height: 48px;
      height: 48px;
      color: mat-color($mat-green, 500);
      padding-right: 15px;
    }
  }

}
