<div>
  <form [formGroup]="form" (ngSubmit)="search()">
    <div fxLayout="row">
      <div fxFlex="400px" fxLayout="row">
        <mat-form-field fxFlex="auto" >
          <input matInput formControlName="searchValue" type='text' placeholder="Search... (e.g. '@angular/core, react')">
        </mat-form-field>
        <div style="margin: 0 5px" fxFlex="0 0 auto" fxFlexAlign="center">
          <button mat-mini-fab [disabled]="!form.get('searchValue').value">
            <mat-icon class="mat-24">search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div>
    <ngx-datatable #table
      class="material"
      [rows]="obs$ | async"
      [loadingIndicator]="(packages || package)?.$rc.busy$ | async"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'">

      <ngx-datatable-row-detail rowHeight="400px" #myDetailRow>
        <template let-row="row" let-metadata="row.collected.metadata" let-github="row.collected.github" let-npm="row.collected.npm" let-score="row.score" ngx-datatable-row-detail-template>
          <mat-tab-group dynamicHeight>
            <mat-tab>
              <template mat-tab-label>Metadata</template>
              <div class="tab-content">
                <pre>{{ metadata | json }}</pre>
              </div>
            </mat-tab>
            <mat-tab>
              <template mat-tab-label>Github</template>
              <div class="tab-content">
                <pre>{{ github | json }}</pre>
              </div>
            </mat-tab>
            <mat-tab>
              <template mat-tab-label>Npm</template>
              <div class="tab-content">
                <pre>{{ npm | json }}</pre>
              </div>
            </mat-tab>
            <mat-tab>
              <template mat-tab-label>Score</template>
              <div class="tab-content">
                <pre>{{ score | json }}</pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </template>
      </ngx-datatable-row-detail>

    </ngx-datatable>
  </div>

  <template #rowExpendTpl let-row="row" let-value="value" let-column="column">
    <a href="javascript:void(0)" (click)="toggleExpandRow(row)">{{value}}</a>
  </template>
</div>
