<div>
  <form [formGroup]="form" (ngSubmit)="search()">
    <div fxLayout="row">
      <div fxFlex="400px" fxLayout="row">
        <mat-form-field fxFlex="auto" >
          <input matInput formControlName="searchValue" type='text' placeholder="Search... (e.g. '@angular/core, react')">
        </mat-form-field>
        <div style="margin: 0 5px" fxFlex="0 0 auto" fxFlexAlign="center">
          <button mat-mini-fab [disabled]="!form.get('searchValue').value">
            <mat-icon class="mat-24">search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div>
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="analyzedAt">
        <mat-header-cell *matHeaderCellDef> Analyzed At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.analyzedAt}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"
               class="element-row"
               matRipple
               [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></mat-row>
    </mat-table>

  </div>

</div>

<ng-template #tpl let-element>
  <div [@detailExpand] class="mat-row" style="overflow: hidden">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>Metadata</ng-template>
        <div class="tab-content">
          <pre>{{ element.collected.metadata | json }}</pre>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Github</ng-template>
        <div class="tab-content">
          <pre>{{ element.collected.github | json }}</pre>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Npm</ng-template>
        <div class="tab-content">
          <pre>{{ element.collected.npm | json }}</pre>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Score</ng-template>
        <div class="tab-content">
          <pre>{{ element.score | json }}</pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>
