<div *ngIf="showSpinner" class="form-wrapper-spinner-container">
  <h5>Loading...</h5>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<ng-content select=".form-description"></ng-content>
<div class="form-wrapper-container">
  <div class="form-wrapper mat-elevation-z4" fxLayout="column">
    <mat-toolbar *ngIf="!noDashboard">
      <mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>
      <div fxFlex="nogrow">
        <div class="form-status-indicator" [matTooltip]="'Form status: ' + (form?.statusChanges | async)">
          <tdm-led [blink]="ledBlinking" [color]="ledColor"></tdm-led>
        </div>
      </div>
       <span class="form-title" fxFlex>{{title}}</span>
      <button *ngIf="tabs && code && code.length"
              mat-icon-button
              matTooltip="View Source"
              (click)="tabs.selectedIndex = (tabs.selectedIndex === 1) ? 0 : 1">
        <mat-icon>code</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [disabled]="jsonView" (click)="this.toggleJsonView()">&#x7b; JSON } View</button>
        <button mat-menu-item matTooltip="Update form's value & Validity" (click)="dynForm.tdmForm.form.updateValueAndValidity()">
          <mat-icon>sync</mat-icon>
          <span>Sync Form</span>
        </button>
        <button mat-menu-item matTooltip="Commit form to model" (click)="onCommitToModel()">
          <mat-icon>save</mat-icon>
          <span>Commit</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div fxFlex="grow" class="form-wrapper-content">
      <mat-drawer-container>
        <mat-drawer mode="side" [opened]="rightDrawerOpened">
          <ng-content class=".form-wrapper-right-drawer"></ng-content>
        </mat-drawer>
        <mat-drawer position="end" mode="side" [opened]="jsonView">
          <div>
            <button mat-icon-button (click)="jsonView = false"><mat-icon>close</mat-icon></button>
            <div fxFlex></div>
            <button mat-icon-button (click)="refreshJsonView()"><mat-icon>refresh</mat-icon></button>
          </div>
          <mat-tab-group>
            <mat-tab label="Model">
              <div class="json-view">
                <pre><code [innerHtml]="modelJson"></code></pre>
              </div>
            </mat-tab>
            <mat-tab label="Form">
              <div class="json-view">
                <pre><code [innerHtml]="formJson"></code></pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-drawer>
        <mat-drawer-content>
          <mat-tab-group #tabs style="margin-top: -48px;">
            <mat-tab>
              <ng-template mat-tab-label></ng-template>
              <ng-content select=".custom-form-actions"></ng-content>
              <div class="form-wrapper-dynamic-form-container">
                <ng-content select="dynamic-form"></ng-content>
              </div>
              <ng-content select=".form-footer"></ng-content>
            </mat-tab>
            <mat-tab>
              <tdm-code-view [code]="code"></tdm-code-view>
            </mat-tab>
          </mat-tab-group>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
